<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3" />
    <add key="nuget.org v2" value="https://nuget.org/api/v2/" />
    <add key="ASPNET Core" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="ASPNET VNext V2" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
    <add key="dotnet-cli" value="https://dotnet.myget.org/F/dotnet-cli/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="xunit-cli" value="https://www.myget.org/F/coreclr-xunit/api/v2" />
    <add key="dotnet-cli2" value="https://www.myget.org/F/dotnet-cli" />
    <add key="SBaker-Myget" value="https://www.myget.org/F/sbaker/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="Atim" value="\\agentsmith\Packages" />
  </activePackageSource>
</configuration>